<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    </head>
    <body style="margin: 0; font-family: Ubuntu, sans-serif; text-align: left; background:rgba(62,83,217,0.1)">
        <div style="width: 500px; background-color: #ffffff; height: auto; margin: 50px auto; border-color: #e4e4e4; border-radius: 0; box-shadow: 0 4px 8px 0 rgba(62, 83, 217, 0.08), 0 6px 20px 0 rgba(62, 83, 217, 0.09); justify-content: center; align-items: center;">
           <table style="width: 100%; padding: 40px 25px;">
             <tr style="text-align: left">
               <th><img src="cid:logo" alt="" style="margin-bottom:40px"></th>
             </tr>
             <tr>
               <td>
                 <h3 style="font-size: 32px; color: #050038; font-weight: 400; margin: 0px 0px 40px 0px;">
                   Welcome to Confluence,&nbsp;<span>{{completeName}}</span>!
                </h3>
              </td>
             </tr>
             <tr>
               <td>
                 <p style="text-align: left; font-weight: 400; line-height: 20px; margin: 0px; font-size: 16px; color: #050038;">
                   Confluence is your one-stop Mile High Flood District data portal. From viewing real-time spatial data and seeing relationships between various projects and problems to drafting new projects and outlining your jurisdiction's annual work request, gain new insight with Confluence.
                </p>
              </td>
             </tr>
             <tr>
               <td style="text-align: center; ">
                 <a style="margin-top: 40px; background-color: #28C499; border: none; border-radius: 4px; color: white; padding: 12px 0px;text-align: center; text-decoration: none; display: inline-block;font-size: 18px; width:150px; cursor: pointer;" href="{{url}}">
                     Get Started
                 </a>
               </td>
             </tr>
             <tr>
               <td>
                 <img src="cid:map" alt="" style="width:100%; margin: 30px 0px">
               </td>
             </tr>
             <tr style="text-align: left">
               <td>
                 <h4 style="font-size: 24px; color: #050038; font-weight: 400; margin: 0px 0px 25px 0px;">
                   4 easy ways to explore Confluence
                 </h4>
               </td>
             </tr>
             <tr>
               <td>
                 <p style="color:#050038; font-size:14px; line-height: 18px; margin:0px 0px 15px 0px;">— <a href="#">Navigate the Map Gallery</a>. Find relationships between projects, problems and dozens of other layers within the District.</p>
                 <p style="color:#050038; font-size:14px; line-height: 18px; margin:0px 0px 15px 0px;">— <a href="#">Favorite projects</a>. Customize your profile page with projects and problems that interest you.</p>
                 <p style="color:#050038; font-size:14px; line-height: 18px; margin:0px 0px 15px 0px;">— <a href="#">Create a Work Request</a>. Prepare your annual request and collaborate with colleagues in real-time.</p>
                 <p style="color:#050038; font-size:14px; line-height: 18px; margin:0px;">— <a href="#">View Work Plans</a>. See this or any year's approved plan for any jurisdiction.</p>
               </td>
             </tr>
             <tr>
               <td >
                 <p style="width: 158px; font-size: 14px; color: #050038; margin: 55px 0px 0px 0px;">Happy collaborating, The Confluence Team</p>
               </td>
             </tr>
           </table>

           <table style="background: #F9F9FE; width:100%; height: 90px; padding: 25px 120px 0px 120px; text-align: center;">
             <tr>
               <td>
                 <a href="https://www.facebook.com/MileHighFloodDistrict/">
                   <img style="width: auto; margin: 0 5px;" src="cid:facebook" alt="">
                 </a>
               </td>
               <td>
                 <a href="https://twitter.com/MHFloodDistrict">
                   <img style="width: auto; margin: 0 5px;" src="cid:twitter" alt="">
                 </a>
               </td>
               <td>
                 <a href="https://www.linkedin.com/company/milehighflooddistrict/">
                   <img style="width: auto; margin: 0 5px;" src="cid:linkedin" alt="">
                 </a>
               </td>
               <td>
                 <a href="https://www.youtube.com/channel/UChXBvMMFOWNhWKP6honBqTQ">
                   <img style="width: auto; margin: 0 5px;" src="cid:youtube" alt="">
                 </a>
               </td>
             </tr>
           </table>
           <table style="background: #F9F9FE; width:100%; height: 90px; padding: 0px; text-align: center;">
             <tr style="text-align:center">
               <td>
                 <a href="https://mhfd.org/about/blog/" style="font-size: 16px; color: rgba(5,0,56, 0.5); padding-bottom: 35px;">Visit our blog</a>
               </td>
             </tr>
             <tr>
               <td>
                 <p style="font-size: 12px; color: rgba(5,0,56, 0.5); margin: 24px 0px 25px 0px">MHFD 2480 W. 26th Ave. Suite 156-B, Denver, CO 80211</p>
               </td>
             </tr>
           </table>

        </div>
    </body>
</html>
