<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">
</head>

<body style="margin: 0; font-family: Ubuntu, sans-serif; text-align: left; margin: 0 auto !important; padding: 0 !important; height: 100% !important; width: 100% !important;">
  <div style="width: 619px; background:rgba(62,83,217,0.1); padding:29px 0px; margin: 0px auto; justify-content: center; align-items: center;">
    <div style=" background-color: #ffffff; height: auto; margin: 0px 50px; border-color: #e4e4e4; border-radius: 0;">
      <table style="width: 100%; padding: 0px 25px 25px 25px; background: #ebedfb;">
        <tr style="text-align: center">
          <th><img src="cid:logo1" alt=""
              style="width: 250px; height: 60px; padding-bottom: 2px;"></th>
        </tr>
      </table>
    </div>
    <div style=" background-color: #ffffff;    margin: 0px 50px; height: auto; border-color: #e4e4e4; border-radius: 16px; box-shadow:  0 4px 8px rgba(62, 83, 217, 0.08);">
      <table style="width: 100%; padding: 38px 25px 0px 25px;">
        <tr>
          <td>
            <h3 style="font-style: normal; font-weight: bold; font-size: 24px; text-align: center; color: #11093c; margin: 0px; margin-bottom: 0px;">
              Verify your email address
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-style: normal; padding-top : 0px; padding-bottom : 0px; font-weight: 400; font-size: 16px; text-align: center; color: #11093C; opacity: 0.6;">
              Follow the below link to verify your email address. It's valid for 48 hours. If the link does not work, log on to TerraMatch and resubmit a verfication request.
            </p>
          </td>
        </tr>
        <tr style="text-align: center;">
          <td>
            <a style="font-style: normal; padding-top : 0px; padding-bottom : 0px; font-weight: 400; font-size: 16px; text-align: center; color: #00B2E6; opacity: 0.6;"
            href="{{url}}">
              https://www.google.com/
            </a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding-top: 0px;">
            <a style="font-style: normal; font-weight: 600; font-size: 14px; line-height: 16px; padding-top: 15px ; background-color: #251863; 
                 border: none; border-radius: 4px; color: white; text-align: center; text-decoration: none; display: inline-block; width:210px; height: 29px; cursor: pointer;"
              href="{{url}}">
              VERIFY EMAIL
            </a>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding-top: 30px; ">
            <img src="cid:banner1" alt="" style="width: 100%;">
          </td>
        </tr>
      </table>
      <table style="width:100%; padding: 20px 0px 10px 0px; text-align: center;">
        <tr>
          <td style="text-align: center; padding-top: 0px;">
            <p style="text-align: center;">
               <a href="https://twitter.com/MHFloodDistrict" style="text-decoration: none;">
              <img style="height: 24px; margin: 0 5px; width:24px" src="cid:twitter"
                alt="">
            </a>
            <a href="https://www.facebook.com/MileHighFloodDistrict/" style="text-decoration: none;">
              <img style="height: 24px; margin: 0 5px; width:24px" src="cid:facebook"
                alt="">
            </a>
            <a href="https://www.linkedin.com/company/milehighflooddistrict/" style="text-decoration: none;">
              <img style="height: 24px; margin: 0 5px; width:24px" src="cid:linkedin"
                alt="">
            </a>
            </p>
          </td>
        </tr>
      </table>
      <table style="width:100%; height: 75px; padding: 0px; text-align: center;">
        <tr>
          <td>
            <p style="font-size: 11px; color: rgba(5,0,56, 0.5); margin: 18px 0px 18px 0px">MHFD 12575 W Bayaud Avenue Lakewood, CO 80228</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
